@using GolpaMotorFinal.Helpers


<div class="topbar">
    <div class="topbar-wrapper">
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" class="form-control" placeholder="جستجو در محصولات..." />
        </div>
        <div class="topbar-actions">
            <button class="theme-toggle" id="themeToggle">
                <i class="fa-solid fa-moon"></i>
            </button>
            <div class="notification-btn">
                <i class="fa-solid fa-bell"></i>
                <span class="notification-count"> 12 </span>
            </div>
            <div class="profile-box">
                <div>
                    <div class="profile-name">
                        @User.Identity?.Name
                    </div>
                    <div class="profile-role">
                        مدیر سیستم
                    </div>
                </div>
                <img src="~/images/pics/admin.jpg" class="profile-image" alt="admin">
            </div>
        </div>
    </div>
</div>